{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Donut - KBP{% endblock %}
{% block css %}
{% endblock css %}

{% block content %}
<div class="row" style="margin-top: 15px">
	<div class="col-lg-6">
		<div class="card border-dark mb-3">
			<div class="card-header">Killing Information</div>
			<div class="card-body">
				<table class="table">
					<tbody>
						<tr>
							<th>Name</th>
							<td>{{object.shooting.name}}</td>
						</tr>
						<tr>
							<th>Date</th>
							<td>{{object.shooting.date}}</td>
						</tr>
						<tr>
							<th>Race</th>
							<td>{{object.shooting.get_race_display}}</td>
						</tr>
						<tr>
							<th>Age</th>
							<td>{{object.shooting.age}}</td>
						</tr>
						<tr>
							<th>Gender</th>
							<td>{{object.shooting.get_gender_display}}</td>
						</tr>
						<tr>
							<th>State</th>
							<td>{{object.shooting.get_state_display}}</td>
						</tr>
						<tr>
							<th>City</th>
							<td>{{object.shooting.get_city_display}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="card border-dark mb-3">
			<div class="card-header">Bodycam Information</div>
			<div class="card-body">
					<div class="row">
						<div class='col-lg-12'>
							{{object.video|safe}}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<table>
								<tbody class="table">
									<tr>
										<th>Department</th>
										<td>{{object.department}}</td>
									</tr>
									<tr>
										<th>Description</th>
										<td>{{object.description}}</td>
									</tr>
									<tr>
										<th>Date</th>
										<td>{{object.date}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
	$("#loader_cover").addClass("toggled");
    $("#body").removeAttr("style");
</script>
{% endblock js %}