Django
djangorestframework
gunicorn
django-cors-headers
django-grappelli
# django-filebrowser
django-filebrowser-no-grappelli
rules
django-tinymce4-lite
django-robots
django-storages
coreapi
# coreapi-cli
dj-database-url