{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Donut - KBP{% endblock %}
{% block css %}
{% endblock css %}

{% block content %}
<div class="row" style="margin-top: 15px">
	<div class="col-lg-6">
		<div class="card border-dark mb-3">
			<div class="card-header">Killing Information</div>
			<div class="card-body">
				<table class="table">
					<tbody>
						<tr>
							<th>Name</th>
							<td>{{object.name}}</td>
						</tr>
						<tr>
							<th>Date</th>
							<td>{{object.date}}</td>
						</tr>
						<tr>
							<th>Race</th>
							<td>{{object.get_race_display}}</td>
						</tr>
						<tr>
							<th>Age</th>
							<td>{{object.age}}</td>
						</tr>
						<tr>
							<th>Gender</th>
							<td>{{object.get_gender_display}}</td>
						</tr>
						<tr>
							<th>State</th>
							<td>{{object.get_state_display}}</td>
						</tr>
						<tr>
							<th>City</th>
							<td>{{object.get_city_display}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="card border-dark mb-3">
			<div class="card-header">Bodycam Information</div>
			<div class="card-body">
				{% if object.has_bodycam %}
					<div class="row">
						<div class='col-lg-12'>
							{{object.bodycams.all.first.video|safe}}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<table>
								<tbody class="table">
									<tr>
										<th>Department</th>
										<td>{{object.bodycams.all.first.department}}</td>
									</tr>
									<tr>
										<th>Description</th>
										<td>{{object.bodycams.all.first.description}}</td>
									</tr>
									<tr>
										<th>Date</th>
										<td>{{object.bodycams.all.first.date}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				{% else %}
					<div class="row">
						<div class='col-lg-12'>
							<div class="align-self-center p-2"><h1 style="color:white;">No Video Available</h1></div>
						</div>
					</div>
					<div class='row'>
						<div class="col-lg-12">
							No information available.
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
	$("#loader_cover").addClass("toggled");
    $("#body").removeAttr("style");
</script>
{% endblock js %}