{% extends 'base.html' %} {% load widget_tweaks %} {% block title %}
<title>Donut - Police Videos Login</title>
{% endblock %} {% block content %}
<div class="row justify-content-md-center">
  <div class="col col-lg-2"></div>
  <div class="col-md-auto">
    <div class="card border-primary mb-3" style="width: 350px; margin-top: 20px">
      <div class="card-header">Administrative Login</div>
      <div class="card-body">
        <!-- <h4 class="card-title">Primary card title</h4> -->
        <div class="row">
          <div class="col-lg-12">
            <form class="form-horizontal loginform" method="post">
              {% csrf_token %}
              <div class="form-group">
                {{ form.username.label_tag }} {% render_field form.username class+="form-control" %}
              </div>
              {% if form.username.errors %}
              <div class="form-group">
                Errors
                <ol>
                  {% for error in form.username.errors %}
                  <li><strong>{{ error|escape }}</strong></li>
                  {% endfor %}
                </ol>
              </div>
              {% endif %}
              <div class="form-group">
                {{ form.password.label_tag }} {% render_field form.password class+="form-control" %}
              </div>
              {% if form.password.errors %}
              <div class="form-group">
                Errors
                <ol>
                  {% for error in form.password.errors %}
                  <li><strong>{{ error|escape }}</strong></li>
                  {% endfor %}
                </ol>
              </div>
              {% endif %}
              <button class="btn btn-block btn-primary col-12" type="submit">Login</button>
            </form>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-lg-12">
            {% if form.non_field_errors %}
            <div class="non-field-errors">
              {% for err in form.non_field_errors %}
              <p class="form-error">{{ err }}</p>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-lg-2"></div>
</div>
{% endblock %}
