{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

    {{ form.media }}
    <div class="row form-error">
        <div class="col-lg-3" id="app"  style="background-color: #e9eaeb; margin-top:20px;">
            <div class="row">
                <div class="col-lg-12">
                    <div style="width:100%; height:50px; background-color: #373A3C; color: white; position:absolute; left: 0; right: 0; padding-left: 45px; padding-top: 5px;">
                        <h2 style="font-family:Segoe UI">Images</h2>
                    </div>
                    <form id="image_creation_form"  method="post" action="{% url 'blog:image-create' %}" style="padding: 15px;  margin: 10px; margin-top:60px">
                        {% csrf_token %}
                        {% for hidden in image_form.hidden_fields %}
                          {{ hidden }}
                        {% endfor %}
                        <input type="hidden" name="id" value="-1">
                         {% for hidden in image_form.hidden_fields %}
                          {{ hidden }}
                        {% endfor %}
                        {% for field in image_form.visible_fields %}
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label for="{{ field.id_for_label }}">
                                        Browse for {{ field.label }}
                                        {{ field }} 
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col-lg-12">
                                <span>Uploading or deleting images can take some time with large files. Be patient and DO NOT REFRESH THE PAGE. We will let you know when it's done.</span>
                            </div>
                        </div>
                        <button v-on:click="submitNewImage()" type="button" class="btn btn-primary">Submit Image</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" v-for="image in images">
                        <div class="col-lg-12" style="display: flex;align-items:center; margin-bottom: 4px;">
                            <img v-on:click="viewFullImage(image.image)" v-bind:src="image.image" style="height: 75px; width: 75px; margin-right: 3px">
                            <button type="button" style="margin-right: 3px" v-on:click="copySrc(image.image)" class="btn btn-outline-secondary"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                            <button type="button" v-on:click="deleteImage(image.id)" class="btn btn-danger" style="margin-right:5px"><i style="font-size:16px" class="fa fa-trash fa-2" aria-hidden="true"></i></button>
                            <span>Click on the image to see the image full size</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8" id="content" style="margin-left:auto;margin-right:auto; background-color: #e9eaeb; margin-top:20px;">
            <div style="width:100%; height:50px; background-color: #373A3C; color: white; position:absolute; left: 0; right: 0; padding-left: 45px; padding-top: 5px;">
                <h2 style="font-family:Segoe UI">Create an Article</h2>
                
            </div>
            <form  method="post" action='' enctype="multipart/form-data" style="padding: 15px;  margin: 10px; margin-top:60px">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}

                 {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                  <div class="form-group">
                    <label ></label>
                    {% if forloop.last %}
                        <label for="{{ field.id_for_label }}" class="btn btn-primary">
                            Browse for {{ field.label }}{{ field|attr:"hidden" }}
                        </label>
                        <span class="text-muted">{{field.help_text}}</span><br>
                        <label>File uploaded: <span id="file_uploaded"></span></label>
                    {% else %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control ultimate_override' }}
                        <span class="text-muted">{{field.help_text|safe}}</span>
                    {% endif %}
                    {% for error in field.errors %}
                      <span class="help-block text-danger">{{ error }}</span>
                    {% endfor %}
                  </div>
                {% endfor %}
                
                <input class="btn btn-secondary btn-block" type="submit" value="Save">
            </form>
        </div>
    </div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    var CSRF_MIDDLEWARETOKEN = "{{csrf_token}}";
    var IMAGE_DELETE_URL = "{% url 'blog:image-delete' %}"
    var IMAGES = {{images|safe}};
    $(function() {
        $(document).on('change', ':file', function() {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });
        setTimeout(function() {
            // changed...
            $("#mceu_30").css("width", "100%");
            $("#mceu_19-button").click(function(){
                console.log("click")
                setTimeout(function() {
                    console.log("done");
                    $(".mce-ico.mce-i-browse").parent().hide()
                }, 150);
            });
            $("#mceu_20-button").click(function(){
                console.log("click")
                setTimeout(function() {
                    console.log("done");
                    $(".mce-ico.mce-i-browse").parent().hide()
                }, 150);
            });
        }, 2000)
        $('#id_cover_image').on('fileselect', function(event, numFiles, label) {
            $("#file_uploaded").text(label)
        });
        setTimeout(function() {
            
            // loader is on base.html. Blocks the user from doing anything until page loads
            $("#loader_cover").addClass("toggled");
            $("#body").removeAttr("style");
        },1500);
    })
</script>
<script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
{% endblock js%}