.custom-select2{color:red!important;background-color:#00f}.social-media-container{display:flex;flex-direction:row;justify-content:flex-end}.reddit-button{color:#FE4500;font-size:47px;margin-top:-9px}@media only screen and (max-width:600px){.social-media-container{display:flex;flex-direction:row;justify-content:flex-start}.reddit-button{color:#FE4500;font-size:47px;margin-top:-9px;margin-left:5px}}.reddit-button:hover{color:#FE4500;text-decoration:none}.social-media-buttons{display:flex;flex-direction:column}.noselect{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.facebook-button{color:#4267B2}.facebook-button:hover{text-deocration:none}@media only screen and (max-width:600px){.social-media-buttons{display:flex;flex-direction:row}.facebook-button{color:#4267B2;margin-right:5px}.twitter-override{margin-top:10px}}.twitter-button{background-color:#1B95E0;color:#fff;padding:10px 15px;border-radius:50%;font-size:20px;width:50px}.ultimate_override{width:100%!important}.news-image{width:auto;height:200px!important;background-size:cover}.news-card:hover{transform:scale(1.03)}[v-cloak]{display:none}*/ .overlay{background:#000;position:absolute;top:20px;right:0;bottom:0;left:0;opacity:.7;z-index:999}.btn span.glyphicon,.list-complete-enter,.list-complete-leave-active{opacity:0}.overlay-text{position:fixed;top:50%;left:50%;font-size:48px;z-index:999;color:#fff;transform:translate(-50%,-50%)}.select2-container--default .select2{width:100%!important}table{empty-cells:show}textarea{resize:none}.table-fixed tbody{height:3000px;overflow-y:auto;overflow-x:hidden;width:100%}.toggled{display:none!important}.btn.active span.glyphicon{opacity:1}.wrapper{width:100%;height:400px;overflow-y:auto}.select2-container--bootstrap .select2-selection--single{height:43px!important;font-size:18px}.footer{position:fixed;bottom:0;width:100%;background-color:#f5f5f5;border-top:1px solid #373A3C}.footer-hide-button{position:absolute;top:-35px;left:40px;background-color:#F5F5F5;border-color:#F5F5F5;border-top:1px solid #373A3C;border-left:1px solid #373A3C;border-right:1px solid #373A3C}.footer-hide-button:hover{background-color:#373A3C}@media screen and (max-width:991px){.adjust-buttons{margin-top:5px}}
.collapsed-description{box-shadow:inset 0px -21px 11px -9px #d9d9d9; -webkit-box-shadow:inset 0px -21px 11px -9px #d9d9d9; -moz-box-shadow:inset 0px -21px 11px -9px #d9d9d9; overflow-y:hidden; height:200px;}
.bodycam-description{-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}
.justify-items-center {
  display:flex;
  justify-content:center;
  align-items:center;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.yearselect {
  font-size: 2.14375rem;
  width: 129px;
  height:58px;
  margin-left: 5px;
  padding-top: 0;
}
.timeline {
  display: flex;
  flex-direction:row;
}
.timeline li {
  display:inline;
  padding-left:30px;
}
.timeline-container {
  max-width: 280px;
  overflow-x: scroll;
  white-space: nowrap;
  margin-left: 40px;
  margin-right: 40px;
}
.timeline-selected-year {
  font-size:18px !important;
  font-weight: bolder !important;
}
.timeline ul {
  margin-top: -5px;
  padding-right:40px;
}
.timeline ul > li:nth-child(1) {
  padding-left:0px;
}
.timeline-arrow {
  cursor:pointer;
  text-decoration: none;
  color: #373a3c;
}
.timeline-arrow:hover {
  cursor:pointer;
  text-decoration: none;
  color: gray;
}
.timeline li a{
  text-decoration: none;
  color: #373a3c;
  font-size: 14px;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -o-user-select: none;
  -moz-user-select: none;
}
.timeline li a:hover {
  color: gray;

}
.timeline-light {
  color:white !important;
}
.timeline-light a {
  color: white !important;
}
.timeline-light li a {
  color: white !important;
}
.timeline-light li a:hover {
  color: gray;
}
.timeline-container::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.timeline-container::-webkit-scrollbar
{
  /*width: 2px;*/
  height:6px;
  background-color: #F5F5F5;
}

.timeline-container::-webkit-scrollbar-thumb
{
  background-color: #373a3c;
}