{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Donut - KBP{% endblock %}


{% block content %}
<div class="row" id="app" v-cloak>
    <div class="col-lg-12">
        <div class="row" style="padding-top:15px; padding-bottom: 15px">
            <div class="col-lg-6" style="display:flex;align-items:center; justify-content: center">
                <a v-bind:href="calculatePreviousYear()" class="btn btn-secondary">View Previous Year's Data</a>
            </div>
            <div class="col-lg-6" style="display:flex;justify-content:center;align-items:center;">
                <a v-if="year != currentYear" v-bind:href="calculateNextYear()" class="btn btn-secondary adjust-buttons">View Following Year's Data</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="display:flex;justify-content:center;align-items:center;">
                <h1 style="text-align:center">{{year}} Officer Involved Killings</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="display:flex;justify-content:center;align-items:center;">
                <h4 style="text-align:center">((shootings.length)) Killed This Year</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card border-dark" style="margin-bottom:20px;">
                <div class="card-header">Filters</div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                             <div class="col-lg-4">
                                <label for="name_text">Filter by name</label>
                                <input id="name_text" type="text" class="form-control" placeholder="Partial and similar matches will be included." v-model="name">
                            </div>
                           
                            <div class="col-lg-4">
                                <label for="race_select">Filter by race</label>
                                <select id="race_select" class="form-control" style="width:100%" multiple="multiple">
                                    <option></option>
                                    <option v-for="race in races" v-bind:value="race.value">((race.display))</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label for="tag_select">Filter by tag</label>
                                <select id="tag_select" class="form-control" style="width:100%" multiple="multiple">
                                    <option></option>
                                    <option v-for="tag in all_tags" v-bind:value="tag.value">((tag.display))</option>
                                </select>
                                <small class="text-muted">Killings with 1 or more matches will be displayed</small>
                            </div>
                        </div>
                         <div class="form-group row">
                            <div class="col-lg-4">
                                <label for="state_select">Filter by state</label>
                                <select id="state_select" class="form-control" style="width:100%" multiple="multiple">
                                    <option></option>
                                    <option v-for="state in states" v-bind:value="state.value">((state.display))</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label for="city_text">Filter by city</label>
                                <input id="city_text" type="text" class="form-control" placeholder="Partial and similar matches will be included." v-model="city">
                            </div>
                            <div class="col-lg-4">
                                <label for="gender_select">Filter by gender</label>
                                <select id="gender_select" class="form-control" style="width:100%" multiple="multiple">
                                    <option></option>
                                    <option v-for="gender in genders" v-bind:value="gender.value">((gender.display))</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">
                                <label for="name_text">Killed on or after</label>
                                <div class="input-group date" id="start_date" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#start_date"/>
                                    <div class="input-group-append" data-target="#start_date" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="name_text">Killed on or before</label>
                                <div class="input-group date" id="end_date" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#end_date"/>
                                    <div class="input-group-append" data-target="#end_date" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button type="button" class="btn btn-warning" v-on:click="resetFilters" style="margin-top:30px;">Reset Filters</button>
                            </div>
                        </div>

                    </form>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr style="background-color:white;">
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('name')">
                                Name 
                                <i class="fa fa-sort-asc" v-if="order.name == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.name == -1" aria-hidden="true"></i>
                            </th>
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('age')">
                                Age 
                                <i class="fa fa-sort-asc" v-if="order.age == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.age == -1" aria-hidden="true"></i>
                            </th>
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('date')">
                                Date 
                                <i class="fa fa-sort-asc" v-if="order.date == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.date == -1" aria-hidden="true"></i>
                            </th>
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('race')">
                                Race 
                                <i class="fa fa-sort-asc" v-if="order.race == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.race == -1" aria-hidden="true"></i>
                            </th>
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('gender')">
                                Gender 
                                <i class="fa fa-sort-asc" v-if="order.gender == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.gender == -1" aria-hidden="true"></i>
                            </th>
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('state')">
                                State 
                                <i class="fa fa-sort-asc" v-if="order.state == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.state == -1" aria-hidden="true"></i>
                            </th>
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('city')">
                                City 
                                <i class="fa fa-sort-asc" v-if="order.city == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.city == -1" aria-hidden="true"></i>
                            </th>
                            <th>
                                Tags 
                            </th>
                            <th>
                                Details 
                            </th>
                            {% if user.is_authenticated %}
                            <th>
                                Admin Actions
                            </th>
                            <th>
                                Has Bodycam
                            </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="shooting in displayed_shootings">
                            <td>
                                ((shooting.name))
                            </td>
                            <td>
                                ((displayAge(shooting.age) ))
                            </td>
                            <td>
                                ((shooting.date))
                            </td>
                            <td>
                                ((shooting.race))
                            </td>
                            <td>
                                ((shooting.gender))
                            </td>
                            <td>
                                ((shooting.state))
                            </td>
                            <td>
                                ((shooting.city))
                            </td>
                            <td>
                                <span style="padding: 5px; margin-right: 5px" v-for="tag in shooting.tags" class="badge badge-primary">((tag.text))</span>
                            <td>
                                <button v-on:click="openDetails(shooting.id)" type="button" class="btn btn-sm btn-primary">Details</button>
                            </td>
                            {% if user.is_authenticated %}
                            <td>
                                <button v-on:click="editShooting(shooting.id)" type="button" class="btn btn-sm btn-primary">Edit</button>
                                <button v-on:click="deleteShooting(shooting.id)" type="button" class="btn btn-sm btn-danger"><i style="font-size:16px" class="fa fa-trash fa-2" aria-hidden="true"></i></button>
                            </td>
                            <td>
                                <i v-if="shooting.bodycam_video != 'None'" class="fa fa-check" aria-hidden="true"></i>
                            </td>
                            {% endif %}
                        </tr>
                        <tr v-show="shootings.length == 0">
                            {% if user.is_authenticated %}
                            <td colspan="11" style="text-align:center">
                                No shootings yet
                            </td>
                            {% else %}
                            <td colspan="9" style="text-align:center">
                                No shootings yet
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal" id="shooting_details" tabindex="-1" role="dialog" style="overflow-y:scroll">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">((displayed_shooting.name)), ((displayed_shooting.date))</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>Bodycam Video</h5>
                            <div v-if="displayed_shooting.bodycam_video != 'None'" v-html="displayed_shooting.bodycam_video"> </div>
                            <div v-else style="background-color:gray; width:100%; height:315px" class="d-flex flex-row    p-2 flex-column justify-content-center flex-fill">
                                <div class="align-self-center p-2"><h1 style="color:white;">No Video Available</h1></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>Sources</h5>
                            <table class="table table-striped">
                                <tbody>
                                    <tr v-for="source in displayed_shooting.sources">
                                        <td style="max-width: 100px; word-wrap: break-word;"><a v-bind:href="source">((source))</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>Further Details</h5>
                            <div style="height: 200px; overflow-y: scroll" v-if="displayed_shooting.description !== undefined && displayed_shooting.description.length != 0"  v-html="displayed_shooting.description">
                                
                            </div>
                            <p style="height:200px; overflow-y:scroll" v-else>No further details at this time.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block js %}
<script type="text/javascript">
    // INDEX GLOBALS
    // var SHOOTINGS = {{shootings|safe}};
    var YEAR = "{{year}}";
    var YEAR_URL = "{% url 'roster:date-index' date=1234 %}";
    var DELETE_KILLING_FUNCTION = function() {
        // pass
    }
    var SHOOTING_DATA_URL = "{% url 'roster:shooting-data' %}";
    var EDIT_SHOOTING_FUNCTION = function() {

    }
    {% if user.is_authenticated %}
    var INDEX_URLS = {
        "delete_killing": "{% url 'roster:delete-killing' %}",
    }
    DELETE_KILLING_FUNCTION = function(id) {
        /*Confirms the user's choice then deletes a shooting through AJAX.
        
        Displays a success message and reloads on success, displays error on failure
        
        Expects:
        :param id: the pk of a shooting that will be sent to the backend.
        
        Returns:
        None
        */
        var data = {
            "id": parseInt(id),
            "csrfmiddlewaretoken": CSRFMIDDLEWARETOKEN,
        }
        $.confirm({
            type: "red",
            title: "Are you sure?",
            content: "This action cannot be undone. Are you sure you want to continue?",
            buttons: {
                Yes: function() {
                    $.ajax({
                        type: "POST",
                        url: INDEX_URLS["delete_killing"],
                        data: data,
                        success: function() {
                            $.alert({
                                title: 'Success!',
                                content: 'Killing deleted succesfully. The page will now reload.',
                                type: 'green',
                                typeAnimated: true,
                                autoClose: 'close|4000',
                                buttons: {
                                    close: function () {
                                        window.location.reload()
                                    }
                                }
                            });
                        },
                        error: function(data) {
                            console.log(data)
                            $.confirm({
                                title: 'Encountered an error!',
                                content: 'Something went wrong when processing the request. Send Pedro a text message and save this information: ' + data.responseText,
                                type: 'red',
                                typeAnimated: true,
                                backgroundDismiss: false,
                                buttons: {
                                    close: function () {
                                    }
                                }
                            });
                        },
                    });
                },
                Cancel: function() {

                }
            }
        })
    }
    EDIT_SHOOTING_FUNCTION = function(id) {
        /*Chooses the shooting to be edited and passes the data to the nav_app

        The nav_app is in charge of all editing, so we just need to pass the data to the nav_app.
        We start by iterating through the killings until we find the one who's id matches the argument
        passed.

        We then begin populating an array with the tags since passing the tags directly for some reason
        results in null (suspect it has something to do with variable lifespan and javascript passing by reference
        and not by value for object as opposed to basic valuesbut this solves the problem so
        not worth checking). We then assign the nav_app shooting to match the details of the current shooting
        and set the creating flag to false, which means the nav_app will submit the details to the edit endpoint
        instead of the creation endpoint.

        We then call the openKillingModal function of nav_app, which will populate the modal's non-2-way-bound
        form fields with jQuery and open the editing modal.

        Arguments:
        :param id: an integer id

        Returns:
        Nothing
        */
        for (var x = 0; x < this.shootings.length; x++) {
            if (this.shootings[x].id == id) {
                tags = []
                for (var y = 0; y < this.shootings[x].tags.length; y++) {
                    tags.push(this.shootings[x].tags[y].text)
                }
                nav_app.shooting.id = this.shootings[x].id
                nav_app.shooting.name = this.shootings[x].name
                nav_app.shooting.date = this.shootings[x].date
                nav_app.shooting.race = this.shootings[x].race_value
                nav_app.shooting.age = this.shootings[x].age
                nav_app.shooting.gender = this.shootings[x].gender_value
                nav_app.shooting.state = this.shootings[x].state_value
                nav_app.shooting.city = this.shootings[x].city
                if (this.shootings[x].unfiltered_video_url == "None") {
                    nav_app.shooting.video_url = ""
                }
                else {
                    nav_app.shooting.video_url = this.shootings[x].unfiltered_video_url
                }
                if (this.shootings[x].age == -1) {
                    nav_app.shooting.age = "";
                }
                nav_app.shooting.sources = this.shootings[x].sources
                nav_app.shooting.description = this.shootings[x].description
                nav_app.shooting.tags = tags

                nav_app.creating = false;
                nav_app.openKillingModal();
                return;
            }
        }
    }
    {% endif %}
</script>
<script type="text/javascript" src="{% static 'js/index.js' %}">
    
</script>
{% endblock %}
