{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Donut - KBP{% endblock %}

{% block content %}
<div style="display:flex; justify-content: center; align-items: center;flex-direction:column; margin-top:25px">
	<h1>Purpose</h1>
	<p style="max-width: 800px; text-align: center; margin-top: 10px;">To provide a much needed source of input on policing related issues and events in the United States, by an ex-SWAT officer and well known media personality DonutOperator, as well as to provide a single cohesive database of all individuals killed by police, as a replacement for <a href="http://www.killedbypolice.net">killedbypolice.net</a> which sadly shut down after many years of dedicated work. We issue our heartfelt thanks to the curator of the KBP database, as this database exists only thanks to his careful notation of years of statistics.</p>
	<h1 style="margin-top:20px">About the Website</h1>
	<p style="max-width: 800px; text-align: center; margin-top: 10px;">The landing page serves as the killed by police database, and allows users to filter the killings by various criteria including biographical, geographical and contextual information.</p>
	<p style="max-width: 800px; text-align: center; margin-top: 10px;">The Bodycam Database serves as a parallel database where bodycam videos can be watched, and filtered by various criteria including department, geographical, and contextual information. These bodycams will be linked with records of killings where possible, and users will be able to view the killing's information in conjunction to the video footage.</p>
	<p style="max-width: 800px; text-align: center; margin-top: 10px;">The News Blog page serves as a place for Donut and anyone he allows to become contributors to write stories, provide feedback, and weigh in on current events.</p>
	<h1 style="margin-top:40px">Current Contributors</h1>
	<div style="display: flex; flex-direction: row, align-items:flex-start;">
		<div style="display: flex; align-items: center; justify-content: center; flex-direction: column">
			<img src="{% static 'donuts_profile.jpg' %}" style="border-radius: 50%; width:120px;">
			<figcaption style="display: flex; align-items: center; justify-content: center;"><strong>DonutOperator</strong></figcaption>
			<figcaption style="display: flex; align-items: center; justify-content: center;"><strong>Owner and Chief Contributor</strong></figcaption>
		</div>
		<div style="display: flex; align-items: center; justify-content: center; flex-direction: column">
			<img src="{% static 'masonjason.jpg' %}" style="border-radius: 50%; width:120px;">
			<figcaption style="display: flex; align-items: center; justify-content: center;"><strong>MasonJason310</strong></figcaption>
			<figcaption style="display: flex; align-items: center; justify-content: center;"><strong>Data Curator</strong></figcaption>
		</div>
	</div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
	$("#loader_cover").addClass("toggled");
	$("#body").removeAttr("style")
</script>
{% endblock js %}
