{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Donut - KBP{% endblock %}

{% block content %}
<div style="display:flex; justify-content: start; align-items: start; flex-direction:column; margin-top:25px">
	<h1>API</h1>
	<p style="max-width:1000px">By popular demand, an API for programmatically requesting the data in JSON format has been provided.
	Each endpoint below can be visited in browser to visually see the returned dataset (and also view detailed documentation
	on how to use the endpoint) or can be hit using AJAX, curl, or other libraries that allow you to make an HTTP GET request.</p>
	<hr>
	<a style="font-size:2em" href="{% url 'roster:api-shootings' %}">api/killings</a>
	<table class="table">
		<thead>
			<tr class="table-info">
				<th>Documentation Summary</th><th><span class="text-muted">(Visit endpoint for full documentation, or perform an OPTIONS request on the endpoint)</span></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th class="table-info">
					Description
				</th>
				<td>
					Returns a list of killings, defaults to killings of the current year unless arguments are provided.
				</td>
			</tr>
			<tr>
				<th class="table-info">Accepted HTTP Method Types</th>
				<td>GET, HEAD, OPTIONS</td>
			</tr>
			<tr>
				<th class="table-info">Content-Type</th>
				<td>application/json</td>
			</tr>
			<tr>
				<th class="table-info">Accepts Querystring Arguments?</th>
				<td>Yes</td>
			</tr>
			<tr>
				<th class="table-info">Querystring Arguments</th>
				<td>
					<table class="table table-sm">
						<thead>
							<tr>
								<th>Name</th>
								<th>Type</th>
								<th>Comma-Separable?</th>
							</tr>
						</thead>
						<tbody>
								<tr><td>name</td><td>String</td><td>No</td></tr>
							    <tr><td>text</td><td>String</td><td>No</td></tr>
							    <tr><td>youngerThan</td><td>Integer</td><td>No</td></tr>
							    <tr><td>olderThan</td><td>Integer</td><td>No</td></tr>
							    <tr><td>dateBefore</td><td>String</td><td>No</td></tr>
							    <tr><td>dateAfter</td><td>String</td><td>No</td></tr>
							    <tr><td>date</td><td>String</td><td>No</td></tr>
							    <tr><td>limit</td><td>Integer</td><td>No</td></tr>
							    <tr><td>offset</td><td>Integer</td><td>No</td></tr>
							    <tr><td>tag_intersect</td><td>Boolean</td><td>No</td></tr>
							    <tr><td>tag_limit</td><td>Boolean</td><td>No</td></tr>
							    <tr><td>age</td><td>Integer</td><td>Yes</td></tr>
							    <tr><td>id</td><td>Integer</td><td>Yes</td></tr>
							    <tr><td>year</td><td>Integer</td><td>Yes</td></tr>
							    <tr><td>city</td><td>String</td><td>Yes</td></tr>
							    <tr><td>race</td><td>String</td><td>Yes</td></tr>
							    <tr><td>gender</td><td>String</td><td>Yes</td></tr>
							    <tr><td>state</td><td>String</td><td>Yes</td></tr>
							    <tr><td>tags</td><td>String</td><td>Yes</td></tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<th class="table-info">
					Example
				</th>
				<td>
<pre>
$.get("https://www.peoplekilledbypolice.com/api/killings").done(function(data) {
    console.log(data);
})

Output:
[
    {
        age: Integer,
        bodycam: null or {
            city: null or String,
            date: datestring YYYY-mm-dd,
            department: null or String,
            description: null or String,
            id: Integer,
            state: String,
            tags: [
                { text: String },
                ...
            ],
            title: String,
            video: String,
        },
        city: null or String,
        date: datestring YYYY-mm-dd,
        description: null or String
        gender: String,
        id: Integer,
        name: String,
        race: String,
        sources: [
            { text: String },
            ...
        ]
        state: String,
        tags: [
            { text: String },
            ...
        ]
    }, 
    ...
]
</pre>
				</td>
			</tr>
		</tbody>
	</table>
	<a style="font-size:2em" href="{% url 'roster:api-tags' %}">api/tags</a>
	<table class="table">
		<thead>
			<tr class="table-info">
				<th>Documentation Summary</th><th><span class="text-muted">(Visit endpoint for full documentation, or perform an OPTIONS request on the endpoint)</span></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th class="table-info">
					Description
				</th>
				<td>
					Returns a list of all tags that currently exist. Accepts no querystring arguments.
				</td>
			</tr>
			<tr>
				<th class="table-info">Accepted HTTP Method Types</th>
				<td>GET, HEAD, OPTIONS</td>
			</tr>
			<tr>
				<th class="table-info">Content-Type</th>
				<td>application/json</td>
			</tr>
			<tr>
				<th class="table-info">Accepts Querystring Arguments?</th>
				<td>No</td>
			</tr>
			<tr>
				<th class="table-info">Example</th>
				<td>
<pre>
$.get("https://www.peoplekilledbypolice.com/api/tags").done(function(data) {
    console.log(data);
})

Output:
[
    { text: String },
    ...
]
</pre>					
				</td>
			</tr>
		</tbody>
	</table>
	<a style="font-size:2em" href="{% url 'bodycams:api-bodycams' %}">api/bodycams</a>
	<table class="table">
		<thead>
			<tr class="table-info">
				<th>Documentation Summary</th><th><span class="text-muted">(Visit endpoint for full documentation, or perform an OPTIONS request on the endpoint)</span></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th class="table-info">
					Description
				</th>
				<td>
					Returns a list of all bodycams, with nested information on killings, defaults to bodycams of the current year unless arguments are provided.
				</td>
			</tr>
			<tr>
				<th class="table-info">Accepted HTTP Method Types</th>
				<td>GET, HEAD, OPTIONS</td>
			</tr>
			<tr>
				<th class="table-info">Content-Type</th>
				<td>application/json</td>
			</tr>
			<tr>
				<th class="table-info">Accepts Querystring Arguments?</th>
				<td>Yes</td>
			</tr>
			<tr>
				<th class="table-info">Querystring Arguments</th>
				<td>
					<table class="table table-sm">
						<thead>
							<tr>
								<th>Name</th>
								<th>Type</th>
								<th>Comma-Separable?</th>
							</tr>
						</thead>
						<tbody>
								<tr><td>tile</td><td>String</td><td>No</td></tr>
							    <tr><td>text</td><td>String</td><td>No</td></tr>
							    <tr><td>department</td><td>String</td><td>No</td></tr>
							    <tr><td>dateBefore</td><td>String</td><td>No</td></tr>
							    <tr><td>dateAfter</td><td>String</td><td>No</td></tr>
							    <tr><td>date</td><td>String</td><td>No</td></tr>
							    <tr><td>limit</td><td>Integer</td><td>No</td></tr>
							    <tr><td>offset</td><td>Integer</td><td>No</td></tr>
							    <tr><td>tag_intersect</td><td>Boolean</td><td>No</td></tr>
							    <tr><td>tag_limit</td><td>Boolean</td><td>No</td></tr>
							    <tr><td>id</td><td>Integer</td><td>Yes</td></tr>
							    <tr><td>year</td><td>Integer</td><td>Yes</td></tr>
							    <tr><td>city</td><td>String</td><td>Yes</td></tr>
							    <tr><td>state</td><td>String</td><td>Yes</td></tr>
							    <tr><td>tags</td><td>String</td><td>Yes</td></tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<th class="table-info">Example</th>
				<td>
<pre>
$.get("https://www.peoplekilledbypolice.com/api/bodycams").done(function(data) {
    console.log(data);
})

Output:
[
    {
        city: null or String,
        date: datestring "YYYY-mm-dd",
        department: null or String,
        description: null or String,
        id: Integer,
        shooting: null or {
            age: Integer,
            city: null or String,
            date: datestring YYYY-mm-dd,
            description: null or String
            gender: String,
            id: Integer,
            name: String,
            race: String,
            sources: [
                { text: String },
                ...
            ]
            state: String,
            tags: [
                { text: String },
                ...
            ]
        }
        state: String,
        tags: [
            { text: String },
            ...
        ]
        title: String,
        video: "String"
    },
    ...
]
</pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
	$("#loader_cover").addClass("toggled");
	$("#body").removeAttr("style")
</script>
{% endblock js %}
