{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Donut - KBP{% endblock %}

{% block css %}
<title>PeopleKilledByPolice: The newest website and application changes to PKBP</title>
{% endblock css %}

{% block content %}
<div style="display:flex; justify-content: start; align-items: start; flex-direction:column; margin-top:25px">
	<h1>Change Log</h1>
	<div>
		<h2>1.6.1 - 26 APR 2019</h2>
		<ul>
			<li>Added donation button</li>
		</ul>
	</div>
	<div>
		<h2>1.6.0 - 29 MAR 2019</h2>
		<ul>
			<li style="font-weight: bold">Improved Granular Permissions for Newly Added Curators</li>
		</ul>
	</div>
	<div>
		<h2>1.5.0 - 15 MAR 2019</h2>
		<ul>
			<li>Improved Mobile Support</li>
			<li>Improved UI.</li>
			<li>Improved UI and functionality for administrative tools.</li>
		</ul>
	</div>
	<div>
		<h2>1.4.1 - 12 MAR 2019</h2>
		<ul>
			<li>Added Timeline Option to jump to alternate years.</li>
			<li>Improved UI.</li>
			<li style="font-weight: bold; color: orange">Identified bug with certain password keeping extensions which is causing the slowdown observed as of 1.4.0. Pursuing options with the developers of the extensions.</li>
		</ul>
	</div>
	<div>
		<h2>1.4.0 - 12 MAR 2019</h2>
		<ul>
			<li>Updated Details Modal</li>
			<li>Improved Bodycam UI</li>
			<li style="font-weight: bold">Added In-Memory Caching to improve performance on large querysets</li>
			<li style="font-weight: bold; color: orange">Known Issue: Some Chrome browsers are becoming unresponsive or slow on large querysets. Currently being investigated, but Firefox and Edge seem unaffected.</li>
		</ul>
	</div>
	<div>
		<h2>1.3.0 - 20 FEB 2019</h2>
		<ul>
			<li>Restructured Navbar to remove clutter</li>
			<li>Fixed typos on API documentation</li>
			<li style="font-weight: bold">Added Data Visualization Graphs.</li>
		</ul>
	</div>
	<div>
		<h2>1.2.0 - 11 FEB 2019</h2>
		<ul>
			<li style="font-weight: bold">Added API to fulfill feedback requests.</li>
		</ul>
	</div>
	<div>
		<h2>1.1.0 - 23 JAN 2019</h2>
		<ul>
			<li>Fixed bug where users were reporting bodycam video continues to play after modal closes</li>
			<li>Fixed bug where users were reporting browser autofill menu was covering Select2 dropdowns</li>
			<li>Fixed bug that was causing Vue app to crash when sorting by age</li>
			<li style="font-weight: bold">Added feedback form so users don't need to use tips form to submit feedback on website</li>
		</ul>
	</div>
	<div>
		<h2>1.0.1 - 22 JAN 2019</h2>
		<ul>
			<li>Added captcha to tips and feedback forms (to the smart-alleck who spammed it, well played, no hard feelings)</li>
		</ul>
	</div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
	$("#loader_cover").addClass("toggled");
	$("#body").removeAttr("style")
</script>
{% endblock js %}
