<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
<!-- prettier-ignore -->
{% block css %}
{% endblock css %}

{% block content %}
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
  "
>
  <div class="card border-primary" style="margin-bottom: 20px">
    <div class="card-header">Submit Feedback</div>
    <div class="card-body">
      <form action="" method="post" class="formName">
        <!-- prettier-ignore -->
        {% csrf_token %}
        <!-- prettier-ignore -->
        {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
        <!-- prettier-ignore -->
        {% for field in form.visible_fields %}
        <!-- prettier-ignore -->
        {% if forloop.first %}
        <div class="form-group">
          <label for="text">Found a bug? Hate the design? Want a new feature? Tell us about it.</label><br />
          {% render_field form.text style="resize: both;" class+="form-control" %}
          <small class="text-muted"
            >If you're submitting information about a bug, please include details about your browser, and what
            you did to find the bug, so we can replicate it.</small
          >
        </div>
        {% else %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field|add_class:'form-control' }} {% for error in field.errors %}
          <span class="help-block" style="color: red">{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
        <!-- prettier-ignore -->
        {% endfor %}
        <button type="submit" class="btn col-12 btn-success" style="margin-top: 1em">Submit Tip</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %} {% block js %} {% endblock js %}
