{% load static %}
<title>PKBP Database</title>
<meta charset="utf-8">
<meta name="google-site-verification" content="S97wnMfRrGrCTgw1oK0OThteMbwPbAo7iOhrmDmta_8" />
<meta name="description" content="An interactive list of the {{number_of_shootings_this_year}} people killed by police in {{title_current_year}}.">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">


<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'datatables.min.css'  %}"/>
<link rel="shortcut icon" type="image/png" href="{% static 'css/new_favicon.ico' %}"/>
<!-- dynamic follows -->

  