<div id="add_killing" class="modal" role="dialog" data-backdrop="static" data-keyboard="false" style="overflow-y:scroll">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:800px; margin-left:-25%">
                    <div class="modal-header">
                        <h5 v-if="creating" class="modal-title">Add New Killing</h5>
                        <h5 v-else class="modal-title">Edit Killing</h5>
                        <button v-on:click="clearModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" >
                        <form class="form" action="" method="post">
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label for="new_tags_select">What tags would you like to associate to this killing?</label>
                                    <select id="new_tags_select" class="form-control" style="width:100%" multiple="multiple">
                                        <option></option>
                                        <option v-for="tag in all_tags" v-bind:value="((tag.value))">((tag.display))</option>
                                    </select>
                                </div>
                                 <div class="col-lg-6">
                                    <label style="" for="new_age">If you want to add a new tag, just type it in the dropdown and select it</label>
                                </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-lg-6">
                                    <label for="new_gender_select">What gender was the individual?</label>
                                    <select id="new_gender_select" class="form-control" style="width:100%">
                                        <option></option>
                                        {% for gender in genders %}
                                        <option value="{{gender.0}}">{{gender.1}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label for="new_race_select">What race was the individual?</label>
                                    <select id="new_race_select" class="form-control" style="width:100%">
                                        <option></option>
                                        {% for race in races %}
                                        <option value="{{race.0}}">{{race.1}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label for="name_text">When did this killing take place?</label>
                                    <div class="input-group date" id="new_date" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#new_date"/>
                                        <div class="input-group-append" data-target="#new_date" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>          
                                 <div class="col-lg-6">
                                    <label for="new_state_select">In which state did this killing take place?</label>
                                    <select id="new_state_select" class="form-control" style="width:100%">
                                        <option></option>
                                        {% for state in states %}
                                            <option value="{{state.0}}">{{state.1}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class='form-group row'>
                               <div class="col-lg-6">
                                    <label for="new_city">What city was the shooting in?</label>
                                    <input type="text" class="form-control" v-model="shooting.city">
                                </div>                     
                               <div class="col-lg-6">
                                    <label for="new_age">What was the age of the individual?</label>
                                    <input type="number" class="form-control" v-model="shooting.age">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label for="new_race_select">If you made a video on this killing, link it here.</label>
                                    <input type="text" class="form-control" v-model="shooting.video_url">
                                     <small id="fileHelp" class="form-text text-muted">Provide the full, unshortened url to the <strong>YouTube</strong> video. I'll handle the rest. It should look something like this: https://www.youtube.com/watch?v=vGY_4rB0FGc</small>
                                </div>
                                <div class="col-lg-6">
                                    <label for="new_name">What was the name of the individual?</label>
                                    <input type="text" class="form-control" v-model="shooting.name">
                                </div>
                            </div>
                            <label for="new_race_select">Sources</label>
                            <div v-for="source, index in shooting.sources" class="form-group row">
                                <div class="col-lg-11">
                                    <input type="text" class="form-control" v-model="shooting.sources[index]">
                                     <small id="fileHelp" class="form-text text-muted">Provide the full, unshortened url. I'll handle the rest.</small>
                                </div>
                                <div class="col-lg-1">
                                    <button v-on:click="spliceSource(index)" type="button" class="btn btn-danger"><i style="font-size:16px" class="fa fa-trash fa-2" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <button class="btn btn-block btn-secondary" type="button" v-on:click="addSource">Add Source</button>
                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-block btn-danger" type="button" v-on:click="removeSource">Remove Last Source</button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label for="new_race_select">Optional description / More details</label>
                                    <textarea class="form-control" style="width:100%;" rows="4" v-model="shooting.description"></textarea>
                                </div>
                            </div>
                            <div class='form-group row'>                                    
                                
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" v-on:click="submitKilling" class="btn btn-primary">Save changes</button>
                        <button type="button" v-on:click="clearModal" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>