{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Donut - KBP{% endblock %}


{% block content %}
<div class="row" id="app" v-cloak>
    <div class="col-lg-12">
        <div class="row" style="padding-top:15px; padding-bottom: 15px">
            <div class="col-lg-6" style="display:flex; justify-content: center; align-items:center;">
                <a v-bind:href="calculatePreviousYear()" class="btn btn-secondary">View Previous Year's Data</a>
            </div>
            <div class="col-lg-6" style="display:flex; justify-content: center; align-items:center;">
                <a v-if="year != currentYear" v-bind:href="calculateNextYear()" class="btn btn-secondary adjust-buttons">View Following Year's Data</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="display:flex;justify-content:center;align-items:center;">
                <h1 style="text-align:center">{{year}} Bodycams</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="display:flex;justify-content:center;align-items:center;">
                <h4 style="text-align:center"> ((bodycams.length)) Bodycams For This Year</h4>
            </div>
        </div>
        <div class="row">
		    <div class="col-lg-12">
		        <div class="card border-dark" style="margin-bottom:20px;">
			        <div class="card-header">Filters</div>
			        <div class="card-body">
			            <form>
			                <div class="form-group row">
			                	<div class="col-lg-4">
			                        <label for="text_text">Filter by text</label>
			                        <input id="text_text" type="text" class="form-control" placeholder="Matches to the title or to the description" v-model="text">
			                    </div>
			                    <div class="col-lg-4">
			                        <label for="race_select">Filter by race of suspect</label>
			                        <select id="race_select" class="form-control" style="width:100%" multiple="multiple">
			                            <option></option>
			                            <option v-for="race in races" v-bind:value="race.value">((race.display))</option>
			                        </select>
			                    </div>
			                    <div class="col-lg-4">
			                        <label for="tag_select">Filter by tag</label>
			                        <select id="tag_select" class="form-control" style="width:100%" multiple="multiple">
			                            <option></option>
			                            <option v-for="tag in all_tags" v-bind:value="tag.value">((tag.display))</option>
			                        </select>
			                    </div>
			                </div>
			                 <div class="form-group row">
			                    <div class="col-lg-4">
			                        <label for="state_select">Filter by state</label>
			                        <select id="state_select" class="form-control" style="width:100%" multiple="multiple">
			                            <option></option>
			                            <option v-for="state in states" v-bind:value="state.value">((state.display))</option>
			                        </select>
			                    </div>
			                    <div class="col-lg-4">
			                        <label for="city_text">Filter by city</label>
			                        <input id="city_text" type="text" class="form-control" placeholder="Partial and similar matches will be included." v-model="city">
			                    </div>
			                    <div class="col-lg-4">
			                        <label for="department_select">Filter by department</label>
			                        <select id="department_select" class="form-control" style="width:100%" multiple="multiple">
			                            <option></option>
			                            <option v-for="department in departments" v-bind:value="department.value">((department.display))</option>
			                        </select>
			                    </div>
			                </div>
			                <div class="form-group row">
			                    <div class="col-lg-4">
			                        <label for="text_text">Date on or after</label>
			                        <div class="input-group date" id="start_date" data-target-input="nearest">
			                            <input type="text" class="form-control datetimepicker-input" data-target="#start_date"/>
			                            <div class="input-group-append" data-target="#start_date" data-toggle="datetimepicker">
			                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-lg-4">
			                        <label for="text_text">Date on or before</label>
			                        <div class="input-group date" id="end_date" data-target-input="nearest">
			                            <input type="text" class="form-control datetimepicker-input" data-target="#end_date"/>
			                            <div class="input-group-append" data-target="#end_date" data-toggle="datetimepicker">
			                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-lg-4">
			                        <button type="button" class="btn btn-warning" v-on:click="resetFilters" style="margin-top:30px;">Reset Filters</button>
			                    </div>
			                </div>

			            </form>
			        </div>
		        </div>
		    </div>
		</div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr style="background-color:white;">
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('title')">
                                Title 
                                <i class="fa fa-sort-asc" v-if="order.title == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.title == -1" aria-hidden="true"></i>
                            </th>
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('date')">
                                Date 
                                <i class="fa fa-sort-asc" v-if="order.date == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.date == -1" aria-hidden="true"></i>
                            </th>
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('description')">
                                Description 
                                <i class="fa fa-sort-asc" v-if="order.description == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.description == -1" aria-hidden="true"></i>
                            </th>
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('department')">
                                Department 
                                <i class="fa fa-sort-asc" v-if="order.department == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.department == -1" aria-hidden="true"></i>
                            </th>
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('state')">
                                State 
                                <i class="fa fa-sort-asc" v-if="order.state == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.state == -1" aria-hidden="true"></i>
                            </th>
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('city')">
                                City 
                                <i class="fa fa-sort-asc" v-if="order.city == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.city == -1" aria-hidden="true"></i>
                            </th>
                            <th>
                                Tags 
                            </th>
                            <th colspan="2">
                                Admin Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="bodycam in displayed_bodycams">
                            <td>
                                ((bodycam.title))
                            </td>
                            <td>
                                ((bodycam.date))
                            </td>
                            <td style="max-width: 500px; overflow-x: scroll; white-space: pre;">
                                ((bodycam.description))
                            </td>
                            <td>
                                ((bodycam.department))
                            </td>
                            <td>
                                ((bodycam.state))
                            </td>
                            <td>
                                ((bodycam.city))
                            </td>
                            <td>
                                <span style="padding: 5px; margin-right: 5px" v-for="tag in bodycam.tags" class="badge badge-primary">((tag.text))</span>
                            <td>
                                <button v-on:click="openBodycamDetails(bodycam.id)" type="button" class="btn btn-sm btn-primary">Details</button>
                            </td>
                            <td>
                                <button v-on:click="editBodycam(bodycam.id)" type="button" class="btn btn-sm btn-primary">Edit</button>
                                <button v-on:click="deleteBodycam(bodycam.id)" type="button" class="btn btn-sm btn-danger"><i style="font-size:16px" class="fa fa-trash fa-2" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr v-show="bodycams.length == 0">
                            <td colspan="10" style="text-align:center">
                                No bodycams yet
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal" id="bodycam_details" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">((displayed_bodycam.title)), ((displayed_bodycam.date))</h5>
                    <button type="button" class="close" data-toggle="modal" data-target="#bodycam_details" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-img-top" v-html="displayed_bodycam.video" style="height:500px">
                        </div>
                    </div>
                    <hr>
                    <h5 style="margin-left:15px">Details</h5>
                    <table style="margin-left: 15px; margin-right:15px" class="table table-striped">
                        <tbody>
                        	<tr>
                        		<th>Department:</th>
                        		<td>((displayed_bodycam.department))</td>
                        	</tr>
                        	<tr>
                        		<th>Description:</th>
                        		<td>((displayed_bodycam.description))</td>
                        	</tr>
                        	<tr>
                        		<th>Tags:</th>
                        		<td><span style="padding: 5px; margin-right: 5px" v-for="tag in displayed_bodycam.tags" class="badge badge-primary">((tag.text))</span><span v-if="displayed_bodycam.tags.length == 0">No Tags Available</span></td>
                        	</tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                	<button type="button":disabled="typeof displayed_bodycam.shooting == 'undefined' || displayed_bodycam.shooting.id == -1" v-on:click="openDetails(displayed_bodycam.shooting)" class="btn btn-info">View Shooting Details</button>
                	<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#bodycam_details">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="shooting_details" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">((displayed_shooting.name)), ((displayed_shooting.date))</h5>
                    <button type="button" class="close" data-toggle="modal" data-target="#shooting_details" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>Donut's Take</h5>
                            <div v-if="displayed_shooting.video_url != 'None'" v-html="displayed_shooting.video_url"> </div>
                            <div v-else style="background-color:gray; width:100%; height:315px" class="d-flex flex-row    p-2 flex-column justify-content-center flex-fill">
                                <div class="align-self-center p-2"><h1 style="color:white;">No Video Available</h1></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>Sources</h5>
                            <table class="table table-striped">
                                <tbody>
                                    <tr v-for="source in displayed_shooting.sources">
                                        <td style="max-width: 100px; word-wrap: break-word;"><a v-bind:href="source">((source))</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>Further Details</h5>
                            <div style="height: 200px; overflow-y: scroll" v-if="displayed_shooting.description !== undefined && displayed_shooting.description.length != 0"  v-html="displayed_shooting.description">
                                
                            </div>
                            <p style="height:200px; overflow-y:scroll" v-else>No further details at this time.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#shooting_details">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
    // BODYCAM DASHBOARD GLOBAL VARIABLES
    var YEAR = "{{year}}";
    var BODYCAM_URLS = {
        dashboard: "{% url 'bodycams:dashboard' %}",
        dashboard_date: "{% url 'bodycams:dashboard-date' date=1234 %}",
        bodycam_data: "{% url 'bodycams:bodycam-data' %}",
    }
</script>
<script type="text/javascript" src="{% static 'js/bodycam_dashboard.js' %}"></script>
{% endblock js %}

