{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Donut - KBP{% endblock %}


{% block content %}
<div class="row" id="app" v-cloak>
    <div class="col-lg-12">
        <div class="row" style="padding-top:15px; padding-bottom: 15px">
            <div class="col-lg-6" style="display:flex; justify-content: center; align-items:center;">
                <a v-bind:href="calculatePreviousYear()" class="btn btn-secondary">View Previous Year's Data</a>
            </div>
            <div class="col-lg-6" style="display:flex; justify-content: center; align-items:center;">
                <a v-if="year != currentYear" v-bind:href="calculateNextYear()" class="btn btn-secondary adjust-buttons">View Following Year's Data</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="display:flex;justify-content:center;align-items:center;">
                <h1 style="text-align:center">{{year}} Bodycams</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="display:flex;justify-content:center;align-items:center;">
                <h4 style="text-align:center">{{total}} Bodycams For This Year</h4>
            </div>
        </div>
        <div class="row">
		    <div class="col-lg-12">
		        <div class="card border-dark" style="margin-bottom:20px;">
			        <div class="card-header">Filters</div>
			        <div class="card-body">
			            <form>
			                <div class="form-group row">
			                	<div class="col-lg-4">
			                        <label for="text_text">Filter by text</label>
			                        <input id="text_text" type="text" class="form-control" placeholder="Matches to the title or to the description" v-model="text">
			                    </div>
			                    <div class="col-lg-4">
			                        <label for="race_select">Filter by race of suspect</label>
			                        <select id="race_select" class="form-control" style="width:100%" multiple="multiple">
			                            <option></option>
			                            <option v-for="race in races" v-bind:value="race.value">((race.display))</option>
			                        </select>
			                    </div>
			                    <div class="col-lg-4">
			                        <label for="tag_select">Filter by tag</label>
			                        <select id="tag_select" class="form-control" style="width:100%" multiple="multiple">
			                            <option></option>
			                            <option v-for="tag in all_tags" v-bind:value="tag.value">((tag.display))</option>
			                        </select>
			                    </div>
			                </div>
			                 <div class="form-group row">
			                    <div class="col-lg-4">
			                        <label for="state_select">Filter by state</label>
			                        <select id="state_select" class="form-control" style="width:100%" multiple="multiple">
			                            <option></option>
			                            <option v-for="state in states" v-bind:value="state.value">((state.display))</option>
			                        </select>
			                    </div>
			                    <div class="col-lg-4">
			                        <label for="city_text">Filter by city</label>
			                        <input id="city_text" type="text" class="form-control" placeholder="Partial and similar matches will be included." v-model="city">
			                    </div>
			                    <div class="col-lg-4">
			                        <label for="department_select">Filter by department</label>
			                        <select id="department_select" class="form-control" style="width:100%" multiple="multiple">
			                            <option></option>
			                            <option v-for="department in departments" v-bind:value="department.value">((department.display))</option>
			                        </select>
			                    </div>
			                </div>
			                <div class="form-group row">
			                    <div class="col-lg-4">
			                        <label for="text_text">Date on or after</label>
			                        <div class="input-group date" id="start_date" data-target-input="nearest">
			                            <input type="text" class="form-control datetimepicker-input" data-target="#start_date"/>
			                            <div class="input-group-append" data-target="#start_date" data-toggle="datetimepicker">
			                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-lg-4">
			                        <label for="text_text">Date on or before</label>
			                        <div class="input-group date" id="end_date" data-target-input="nearest">
			                            <input type="text" class="form-control datetimepicker-input" data-target="#end_date"/>
			                            <div class="input-group-append" data-target="#end_date" data-toggle="datetimepicker">
			                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-lg-4">
			                        <button type="button" class="btn btn-warning" v-on:click="resetFilters" style="margin-top:30px;">Reset Filters</button>
			                    </div>
			                </div>

			            </form>
			        </div>
		        </div>
		    </div>
		</div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr style="background-color:white;">
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('title')">
                                Title 
                                <i class="fa fa-sort-asc" v-if="order.title == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.title == -1" aria-hidden="true"></i>
                            </th>
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('date')">
                                Date 
                                <i class="fa fa-sort-asc" v-if="order.date == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.date == -1" aria-hidden="true"></i>
                            </th>
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('description')">
                                Description 
                                <i class="fa fa-sort-asc" v-if="order.description == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.description == -1" aria-hidden="true"></i>
                            </th>
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('department')">
                                Department 
                                <i class="fa fa-sort-asc" v-if="order.department == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.department == -1" aria-hidden="true"></i>
                            </th>
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('state')">
                                State 
                                <i class="fa fa-sort-asc" v-if="order.state == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.state == -1" aria-hidden="true"></i>
                            </th>
                            <th class="noselect" style="cursor: pointer;" v-on:click="order_by('city')">
                                City 
                                <i class="fa fa-sort-asc" v-if="order.city == 1" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" v-if="order.city == -1" aria-hidden="true"></i>
                            </th>
                            <th>
                                Tags 
                            </th>
                            <th colspan="2">
                                Admin Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="bodycam in displayed_bodycams">
                            <td>
                                ((bodycam.title))
                            </td>
                            <td>
                                ((bodycam.date))
                            </td>
                            <td>
                                ((bodycam.description))
                            </td>
                            <td>
                                ((bodycam.department))
                            </td>
                            <td>
                                ((bodycam.state))
                            </td>
                            <td>
                                ((bodycam.city))
                            </td>
                            <td>
                                <span style="padding: 5px; margin-right: 5px" v-for="tag in bodycam.tags" class="badge badge-primary">((tag.text))</span>
                            <td>
                                <button v-on:click="openBodycamDetails(bodycam.id)" type="button" class="btn btn-sm btn-primary">Details</button>
                            </td>
                            <td>
                                <button v-on:click="editBodycam(bodycam.id)" type="button" class="btn btn-sm btn-primary">Edit</button>
                                <button v-on:click="deleteBodycam(bodycam.id)" type="button" class="btn btn-sm btn-danger"><i style="font-size:16px" class="fa fa-trash fa-2" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr v-show="bodycams.length == 0">
                            <td colspan="10" style="text-align:center">
                                No bodycams yet
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal" id="bodycam_details" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">((displayed_bodycam.title)), ((displayed_bodycam.date))</h5>
                    <button type="button" class="close" data-toggle="modal" data-target="#bodycam_details" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-img-top" v-html="displayed_bodycam.video" style="height:500px">
                        </div>
                    </div>
                    <hr>
                    <h5 style="margin-left:15px">Details</h5>
                    <table style="margin-left: 15px; margin-right:15px" class="table table-striped">
                        <tbody>
                        	<tr>
                        		<th>Department:</th>
                        		<td>((displayed_bodycam.department))</td>
                        	</tr>
                        	<tr>
                        		<th>Description:</th>
                        		<td>((displayed_bodycam.description))</td>
                        	</tr>
                        	<tr>
                        		<th>Tags:</th>
                        		<td><span style="padding: 5px; margin-right: 5px" v-for="tag in displayed_bodycam.tags" class="badge badge-primary">((tag.text))</span><span v-if="displayed_bodycam.tags.length == 0">No Tags Available</span></td>
                        	</tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                	<button type="button":disabled="typeof displayed_bodycam.shooting == 'undefined' || displayed_bodycam.shooting.id == -1" v-on:click="openDetails(displayed_bodycam.shooting)" class="btn btn-info">View Shooting Details</button>
                	<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#bodycam_details">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="shooting_details" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">((displayed_shooting.name)), ((displayed_shooting.date))</h5>
                    <button type="button" class="close" data-toggle="modal" data-target="#shooting_details" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>Donut's Take</h5>
                            <div v-if="displayed_shooting.video_url != 'None'" v-html="displayed_shooting.video_url"> </div>
                            <div v-else style="background-color:gray; width:100%; height:315px" class="d-flex flex-row    p-2 flex-column justify-content-center flex-fill">
                                <div class="align-self-center p-2"><h1 style="color:white;">No Video Available</h1></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>Sources</h5>
                            <table class="table table-striped">
                                <tbody>
                                    <tr v-for="source in displayed_shooting.sources">
                                        <td style="max-width: 100px; word-wrap: break-word;"><a v-bind:href="source">((source))</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>Further Details</h5>
                            <div style="height: 200px; overflow-y: scroll" v-if="displayed_shooting.description !== undefined && displayed_shooting.description.length != 0"  v-html="displayed_shooting.description">
                                
                            </div>
                            <p style="height:200px; overflow-y:scroll" v-else>No further details at this time.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#shooting_details">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
	$(function() {
		setTimeout(function() {
	        // loader is on base.html. Blocks the user from doing anything until page loads
	        $("#loader_cover").addClass("toggled");
	        $("#body").removeAttr("style")
	    },2000);
        $("#state_select").select2({
            theme: "bootstrap",
            placeholder: "Select state or states"
        })
        $('#state_select').on("change", function(e) { 
            vue_app.states_selected = $(this).val();
        });
        $("#race_select").select2({
            theme: "bootstrap",
            placeholder: "Select race or races"
        })
        $('#race_select').on("change", function(e) { 
            vue_app.races_selected = $(this).val();
        });
        $("#tag_select").select2({
            theme: "bootstrap",
            placeholder: "Select tag or tags"
        })
        $('#tag_select').on("change", function(e) { 
            vue_app.tags_selected = $(this).val();
        });
        $("#department_select").select2({
            theme: "bootstrap",
            placeholder: "Select department or departments"
        })
        $('#department_select').on("change", function(e) { 
            vue_app.departments_selected = $(this).val();
        });
        $('#start_date').datetimepicker({
            format:"L",
            useCurrent: false,
        });
        $('#end_date').datetimepicker({
            format:"L",
            useCurrent: false,
        });
        $('#start_date').on("change.datetimepicker", function (e) {
            vue_app.start_date = $('#start_date').datetimepicker('viewDate');
        });
        $('#end_date').on("change.datetimepicker", function (e) {
            vue_app.end_date = $('#end_date').datetimepicker('viewDate');
        });
    })
	var vue_app = new Vue({
        	el: '#app',
	        delimiters: ["((","))"],
	        data: {
	        	order: {
	                title: 0,
	                date: 0,
	                description: 0,
	                department: 0,
	                state: 0,
	                city: 0,
	            },
	        	city: "",
	        	text: "",
				states_selected: [],
				departments_selected: [],
				races_selected: [],
				tags_selected: [],
				start_date: "",
				end_date: "",
	        	races: [
	                {% for race in races %}
	                {
	                    value: `{{race.0}}`,
	                    display: `{{race.1}}`
	                },
	                {% endfor %}
	            ], // used for filling select2
	            states: [
	                {% for state in states %}
	                {
	                    value: `{{state.0}}`,
	                    display: `{{state.1}}`
	                },
	                {% endfor %}
	            ], // used for filling select2
	            departments: [
	            	{% for department in departments %}
	                {
	                    value: `{{department.department}}`,
	                    display: `{{department.department}}`
	                },
	                {% endfor %}
	            ],
	            all_tags: [
	                {% for tag in all_tags %}
	                {
	                    value: `{{tag.text}}`,
	                    display: `{{tag.text}}`
	                },
	                {% endfor %}
	            ], // used for filling select2
	            bodycams: {{bodycams|safe}},
	            year: "{{year}}",
	            displayed_video: "",
            	displayed_shooting: {}, // shooting to display in modal
            	displayed_bodycam: {
            		tags: [],
            	},
	        },
	        mounted: function() {
		    	// pretty sure this isn't needed anymore but haven't gotten around to testing it
	            var self = this;
	            for (var x = 0; x < self.bodycams.length; x++) {
	                self.bodycams[x].date = self.bodycams[x].date.replace("Jan.", "January");
	                self.bodycams[x].date = self.bodycams[x].date.replace("Feb.", "February");
	                self.bodycams[x].date = self.bodycams[x].date.replace("Aug.", "August");
	                self.bodycams[x].date = self.bodycams[x].date.replace("Sept.", "September");
	                self.bodycams[x].date = self.bodycams[x].date.replace("Sep.", "September");
	                self.bodycams[x].date = self.bodycams[x].date.replace("Oct.", "October");
	                self.bodycams[x].date = self.bodycams[x].date.replace("Nov.", "November");
	                self.bodycams[x].date = self.bodycams[x].date.replace("Dec.", "December");
	            }
	        },
	        methods: {
	        	displayAge: function(age) {
					/*Handles displaying age to avoid displaying -1

					Arguments:
					:param age: integer from -1 - positive infinity

					Returns:
					If age < 0, returns "No Age"
					else returns age
					*/
	                if (age > -1) {
	                    return age
	                }
	                else {
	                    return "No Age"
	                }
	            },
	            openBodycamDetails: function(id) {
					/* Displays a bodycam's details attached to the bodycam in a modal.

					Arguments:
					:param id: integer from 1 - positive infinity

					Searches for the bodycam that has an id matching the param id, selects that bodycam as
					the displayed_bodycam which gets automatically populated in the modal via 2-way binding
					then opens the modal

					Returns:
					Nothing
					*/
	                bodycam = this.bodycams.find(function(bodycam) {
	                    return bodycam.id == id
	                })
	                this.displayed_bodycam = bodycam
	                $('#bodycam_details').modal('toggle');
	            },
	        	openDetails: function(obj) {
					/*Displays a shooting for a bodycam.

					Arguments:
					:param obj: a shooting as JSON object

					Sets the displayed_shooting to the object passed, which gets automatically populated in the modal
					via 2-way binding then opens the modal

					Returns:
					Nothing
					*/
	                this.displayed_shooting = obj
	                $('#shooting_details').modal('toggle');
	            },
	            editBodycam: function(id) {
					/*Chooses the bodycam to be edited and passes the data to the nav_app

					The nav_app is in charge of all editing, so we just need to pass the data to the nav_app.
					We start by iterating through the bodycams until we find the one who's id matches the argument
					passed.

					We then begin populating an array with the tags since passing the tags directly for some reason
					results in null (suspect it has something to do with variable lifespan and javascript passing by reference
					and not by value for object as opposed to basic valuesbut this solves the problem so
					not worth checking). TWe then assign the nav_app bodycam to match the details of the current bodycam
					and set the creating flag to false, which means the nav_app will submit the details to the edit endpoint
					instead of the creation endpoint.

					We then call the openBodycamModal function of nav_app, which will populate the modal's non-2-way-bound
					form fields with jQuery and open the editing modal.

					Arguments:
					:param id: an integer id

					Returns:
					Nothing
					*/
	                for (var x = 0; x < this.bodycams.length; x++) {
	                    if (this.bodycams[x].id == id) {
	                        tags = []
	                        for (var y = 0; y < this.bodycams[x].tags.length; y++) {
	                            tags.push(this.bodycams[x].tags[y].text)
	                        }
	                        nav_app.bodycam.id = this.bodycams[x].id
		                    nav_app.bodycam.title = this.bodycams[x].title
		                    nav_app.bodycam.video = this.bodycams[x].video
		                    nav_app.bodycam.description = this.bodycams[x].description
		                    nav_app.bodycam.department = this.bodycams[x].department
		                    nav_app.bodycam.state = this.bodycams[x].state_value
		                    nav_app.bodycam.city = this.bodycams[x].city
		                    nav_app.bodycam.date = this.bodycams[x].date
		                    nav_app.bodycam.tags = tags
		                    if (this.bodycams[x].shooting) {
		                    	nav_app.bodycam.shooting = "" + this.bodycams[x].shooting.id;
		                    }
	                        nav_app.creating = false;
	                        nav_app.openBodycamModal();
	                        return;
	                    }
	                }
            	},
	            deleteBodycam: function(id) {
					/*Confirms user's decision then deletes a bodycam

					We confirm that they want to delete the bodycam, and on confirmation, send a
					AJAX POST request to the delete endpoint, with a dictionary including the
					csrfmiddlewaretoken and the pk. On success we then reload the page, on failure, we display an error

					Arguments:
					:param id: an integer id of a bodycam to be deleted

					Returns:
					Nothing
					*/
	                var data = {
	                    "pk": parseInt(id),
	                    "csrfmiddlewaretoken": "{{csrf_token}}",
	                }
	                $.confirm({
	                    type: "red",
	                    title: "Are you sure?",
	                    content: "This action cannot be undone. Are you sure you want to continue?",
	                    buttons: {
	                        Yes: function() {
	                            $.ajax({
	                                type: "POST",
	                                url: "{% url 'bodycams:dashboard' %}",
	                                data: data,
	                                success: function() {
	                                    $.alert({
	                                        title: 'Success!',
	                                        content: 'Bodycam deleted succesfully. The page will now reload.',
	                                        type: 'green',
	                                        typeAnimated: true,
	                                        autoClose: 'close|4000',
	                                        buttons: {
	                                            close: function () {
	                                                window.location.reload()
	                                            }
	                                        }
	                                    });
	                                },
	                                error: function(data) {
	                                    console.log(data)
	                                    $.confirm({
	                                        title: 'Encountered an error!',
	                                        content: 'Something went wrong when processing the request. Send Pedro a text message and save this information: ' + data.responseText,
	                                        type: 'red',
	                                        typeAnimated: true,
	                                        backgroundDismiss: false,
	                                        buttons: {
	                                            close: function () {
	                                            }
	                                        }
	                                    });
	                                },
	                            });
	                        },
	                        Cancel: function() {

	                        }
	                    }
	                })
	            },
	        	resetFilters: function() {
					/*Resets the filter choices

					Sets 2-way-bound variables to their default values, and uses jQuery to reset non-2-way-bound variables

					Arguments:
					None

					Returns:
					None
					*/
	                var self = this;
	                $("#state_select").val([]).trigger("change")
	                $("#race_select").val([]).trigger("change")
	                $("#tag_select").val([]).trigger("change")
	                $("#department_select").val([]).trigger("change");
	                this.text = "";
	                this.city = "";
	                this.states_selected = [];
	                this.departments_selected = [];
	                this.races_selected = [];
	                this.tags_selected = [];
	                this.start_date = "";
	                this.end_date = "";
	                $('#start_date').datetimepicker('clear');
	                $('#end_date').datetimepicker('clear');
	            },
	            calculateNextYear: function() {
					/*Calculates the next year for setting the url of the Next Year button

					Uses the year passed from the server (which is the year currently being viewed) to
					decide which year is next

					Arguments:
					None

					Returns:
					None
					*/
	                var year = moment("{{year}}", "YYYY").add(1, "y").format("YYYY")
	                var url = "{% url 'bodycams:dashboard-date' date=1234 %}";
	                url = url.replace("1234", year);
	                return url;
	            },
	            calculatePreviousYear: function() {
					/*Calculates the previous year for setting the url of the Previous Year button

					Uses the year passed from the server (which is the year currently being viewed) to
					decide which year is past

					Arguments:
					None

					Returns:
					None
					*/
	                var year = moment("{{year}}", "YYYY").subtract(1, "y").format("YYYY")  
	                var url = "{% url 'bodycams:dashboard-date' date=1234 %}";
	                url = url.replace("1234", year);
	                return url;
	            },
	            order_by: function(attribute) {
					/*Sets the order object that is used in the computed function for displaying bodycams

					Given the attribute, we set that attribute to 1 if it is -1 or 0, or -1 if it is set to 1,
					and sets all other attributes to 0.

					Arguments:
					:param attribute: a string of a key
					*/
	                var self = this;
	                this.order_attribute = attribute;
	                $.each(self.order, function(key, value) {
	                    if (key == attribute) {
	                        if (self.order[attribute] == 0) {
	                            self.order[attribute] = 1;
	                        }
	                        else if (self.order[attribute] == 1) {
	                            self.order[attribute] = -1;
	                        }
	                        else {
	                            self.order[attribute] = 1;
	                        }
	                    }
	                    else {
	                        self.order[key] = 0;
	                    }
	                });
	            },
	        },
	        computed: {
	        	currentYear: function() {
					/*Selects the current year

					This is used for deciding whether to display the "Next Year" button, which shouldn't be displayed for
					accessing a future years

					Arguments:
					None

					Returns:
					current year as "YYYY"

					*/
	                return moment().format("YYYY")
	            },
	        	displayed_bodycams: function() {
					/*Calculates what bodycams should be displayed to the user and returns bodycams
					
					Copies the list of bodycams (so we don't affect the list)
					Filters by text, then city, then states, then departments, then races of the shooting,
					then tags, then start date, then end date
					*/
	                var self = this;
	                var displayed_bodycams = this.bodycams.slice();
	                if (this.text.length > 0) {
	                    displayed_bodycams = displayed_bodycams.filter(function(bodycam) {
	                        if (bodycam.title.toUpperCase().indexOf(self.text.toUpperCase()) > -1) {
	                            return true;
	                        }
	                        else if (bodycam.description.toUpperCase().indexOf(self.text.toUpperCase()) > -1) {
	                            return true;
	                        } 
	                    })
	                }
	                if (this.city.length > 0) {
	                    displayed_bodycams = displayed_bodycams.filter(function(bodycam) {
	                        if (bodycam.city.toUpperCase().indexOf(self.city.toUpperCase()) > -1) {
	                            return true;
	                        } 
	                    })
	                }
	                if (this.states_selected.length > 0) {
	                    displayed_bodycams = displayed_bodycams.filter(function(bodycam) {
	                        if (self.states_selected.indexOf("" + bodycam.state_value) > -1) {
	                            return true;
	                        }
	                    })
	                }
	                if (this.departments_selected.length > 0) {
	                    displayed_bodycams = displayed_bodycams.filter(function(bodycam) {
	                        if (self.departments_selected.indexOf(bodycam.department) > -1) {
	                            return true;
	                        }
	                    })
	                }
	                if (this.races_selected.length > 0) {
	                    displayed_bodycams = displayed_bodycams.filter(function(bodycam) {
	                    	if (typeof bodycam.shooting == "undefined") {
	                    		return false;
	                    	}
	                        if (self.races_selected.indexOf("" + bodycam.shooting.race_value) > -1) {
	                            return true;
	                        }
	                    })
	                }
	                if (this.tags_selected.length > 0) {
	                    displayed_bodycams = displayed_bodycams.filter(function(bodycam) {
	                        for (var y = 0; y < bodycam.tags.length; y++) {
	                            if (self.tags_selected.indexOf(bodycam.tags[y].text) > -1) {
	                                return true;
	                            }
	                        }
	                    })
	                }
	                if (this.start_date.length != 0) {
	                    displayed_bodycams = displayed_bodycams.filter(function(bodycam) {
	                        var date = moment(bodycam.date, "YYYY-MM-DD");
	                        if (self.start_date < date) {
	                            return true;
	                        }
	                    })
	                }
	                if (this.end_date.length != 0) {
	                    displayed_bodycams = displayed_bodycams.filter(function(bodycam) {
	                        var date = moment(bodycam.date, "YYYY-MM-DD");
	                        if (self.end_date > date) {
	                            return true;
	                        }
	                    })
	                }
	                return displayed_bodycams
	            }
	        }
    	})
</script>
{% endblock js %}

