<!DOCTYPE html>
<html Lang="en">
{% load static %}

<head>
    <title>KBP - Donut</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2-bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/tempusdominus-bootstrap-4.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-confirm.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'datatables.min.css'  %}"/>
 

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <!-- dynamic follows -->
    {% block custom_scripts %}
    {% endblock custom_scripts %}
</head>
<body id="body" style="overflow:hidden">

    <div id="nav_related">
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'roster:index' %}">Donut Operator HQ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bodycam Database</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:blog-index' %}">News Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about-page' %}">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    {% if user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin Actions
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <button class="dropdown-item" onclick="$('#add_killing').modal('toggle')">Submit New Killing</button>
                    <a class="dropdown-item" href="#">Submit New Bodycam</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'blog:create' %}">Submit News Story</a>
                    <a class="dropdown-item" href="{% url 'blog:dashboard' %}">Manage Articles</a>
                    </div>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Sign Out <i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Sign In <i class="fa fa-sign-in" aria-hidden="true"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% if user.is_authenticated %}
        <div id="add_killing" class="modal" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:800px; margin-left:-25%">
                    <div class="modal-header">
                        <h5 v-if="creating" class="modal-title">Add New Killing</h5>
                        <h5 v-else class="modal-title">Edit Killing</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" >
                        <form class="form" action="" method="post">
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label for="new_tags_select">What tags would you like to associate to this killing?</label>
                                    <select id="new_tags_select" class="form-control" style="width:100%" multiple="multiple">
                                        <option></option>
                                        <option v-for="tag in all_tags" v-bindvalue="((tag.value))">((tag.display))</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label for="new_age">Add new tag</label>
                                    <input type="text" class="form-control" v-model="tag_input">
                                </div>
                                <div class="col-lg-2">
                                    <label style="color:white" for="new_age">Add new tag</label>
                                    <button type="button" class="btn btn-secondary" v-on:click="addTag">Add</button>
                                </div>
                            </div>
                             <div class="form-group row">
                                 <div class="col-lg-6">
                                    <label for="new_gender_select">What gender was the individual?</label>
                                    <select id="new_gender_select" class="form-control" style="width:100%">
                                        <option></option>
                                        {% for gender in genders %}
                                        <option value="{{gender.0}}">{{gender.1}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label for="new_race_select">What race was the individual?</label>
                                    <select id="new_race_select" class="form-control" style="width:100%">
                                        <option></option>
                                        {% for race in races %}
                                        <option value="{{race.0}}">{{race.1}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label for="name_text">When did this killing take place?</label>
                                    <div class="input-group date" id="new_date" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#new_date"/>
                                        <div class="input-group-append" data-target="#new_date" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>          
                                 <div class="col-lg-6">
                                    <label for="new_state_select">In which state did this killing take place?</label>
                                    <select id="new_state_select" class="form-control" style="width:100%">
                                        <option></option>
                                        {% for state in states %}
                                            <option value="{{state.0}}">{{state.1}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class='form-group row'>
                               <div class="col-lg-6">
                                    <label for="new_city">What city was the shooting in?</label>
                                    <input type="text" class="form-control" v-model="shooting.city">
                                </div>                     
                               <div class="col-lg-6">
                                    <label for="new_age">What was the age of the individual?</label>
                                    <input type="number" class="form-control" v-model="shooting.age">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label for="new_race_select">If you made a video on this killing, link it here.</label>
                                    <input type="text" class="form-control" v-model="shooting.video_url">
                                     <small id="fileHelp" class="form-text text-muted">Provide the full, unshortened url to the <strong>YouTube</strong> video. I'll handle the rest. It should look something like this: https://www.youtube.com/watch?v=vGY_4rB0FGc</small>
                                </div>
                                <div class="col-lg-6">
                                    <label for="new_name">What was the name of the individual?</label>
                                    <input type="text" class="form-control" v-model="shooting.name">
                                </div>
                            </div>
                            <label for="new_race_select">Sources</label>
                            <div v-for="source, index in shooting.sources" class="form-group row">
                                <div class="col-lg-11">
                                    <input type="text" class="form-control" v-model="shooting.sources[index]">
                                     <small id="fileHelp" class="form-text text-muted">Provide the full, unshortened url. I'll handle the rest.</small>
                                </div>
                                <div class="col-lg-1">
                                    <button v-on:click="spliceSource(index)" type="button" class="btn btn-danger"><i style="font-size:16px" class="fa fa-trash fa-2" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <button class="btn btn-block btn-secondary" type="button" v-on:click="addSource">Add Source</button>
                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-block btn-danger" type="button" v-on:click="removeSource">Remove Last Source</button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label for="new_race_select">Optional description / More details</label>
                                    <textarea class="form-control" style="width:100%;" rows="4" v-model="shooting.description"></textarea>
                                </div>
                            </div>
                            <div class='form-group row'>                                    
                                
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" v-on:click="submitKilling" class="btn btn-primary">Save changes</button>
                        <button type="button" v-on:click="clearModal" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% if messages %}
        <div class="container">
            <ul id="messages" class="messages list-unstyled" style="margin-top:1em; z-index:2; text-align: center;">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-danger">{{ message }}</div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <div class="alert alert-success">{{ message }}</div>
                        {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <script type="text/javascript">
        setTimeout(function() {
            $("#messages").fadeOut("quick")
        }, 3000)
    </script>
    <!-- main content here -->
    <div id="loader_cover" class="overlay" style="background: black; position: absolute; top: 54px; right: 0; bottom: 0; left: 0; opacity: 0.7; z-index: 999;">
        <!-- <div style="position: absolute; left: 45%; top:25%; z-index:3;"> -->
            <i id="loader" class="fa fa-circle-o-notch fa-spin fa-5x fa-fw overlay-text" style="margin-left: 150px; margin-top: -15px;"></i>
            <span class="overlay-text">Now Loading</span>
        <!-- </div> -->
    </div>
    <div class="container-fluid">
        {% block content %}
        {% endblock content %}
    </div>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-confirm.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.floatThead.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tempusdominus-bootstrap-4.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vuex.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Sortable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.ui.touch-punch.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sha256.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fuzzyset.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatables.min.js' %}"></script>
    <!-- javascript will go here -->
    {% block js %}
    {% endblock js %}
    <script type="text/javascript">
        {% if user.is_authenticated %}
        $(function() {

            $('#new_date').datetimepicker({
                format:"L",
                useCurrent: false,
            });
            $('#new_date').on("change.datetimepicker", function (e) {
                nav_app.shooting.date = $('#new_date').datetimepicker('viewDate');
            });
            $("#new_state_select").select2({
                theme: "bootstrap",
                placeholder: "Select state",
                dropdownParent: $("#add_killing"),
            })
            $('#new_state_select').on("change", function(e) { 
                // what you would like to happen
                nav_app.shooting.state = $(this).val();
            });

            $("#new_race_select").select2({
                theme: "bootstrap",
                dropdownParent: $("#add_killing"),
                placeholder: "Select race"
            })
            $("#new_tags_select").select2({
                theme: "bootstrap",
                // dropdownParent: $("#add_killing"),
                placeholder: "Select tags"
            });
            $('#new_tags_select').on("change", function(e) { 
                // what you would like to happen
                nav_app.shooting.tags = $(this).val();
            });
            $('#new_race_select').on("change", function(e) { 
                // what you would like to happen
                nav_app.shooting.race = $(this).val();
            });
            $("#new_gender_select").select2({
                theme: "bootstrap",
                // dropdownParent: $("#add_killing"),
                placeholder: "Select gender"
            })
            $('#new_gender_select').on("change", function(e) { 
                // what you would like to happen
                nav_app.shooting.gender = $(this).val();
            });
        })
        var nav_app = new Vue({
            el: '#nav_related',
            delimiters: ["((","))"],
            data: {
                creating: true,
                tag_input: "",
                shooting: {
                    id: "",
                    name: "",
                    date: "",
                    race: "",
                    age: "",
                    gender: "",
                    state: "",
                    city: "",
                    video_url: "",
                    sources: [],
                    description: "",
                    tags: [
                            //id:{{tag.pk}},
                            //text: `{{tag.text}}`,
                    ]
                },
                genders: [
                    {% for gender in genders %}
                    {
                        value: `{{gender.0}}`,
                        display: `{{gender.1}}`
                    },
                    {% endfor %}
                ], // used for filling select2
                all_tags: [
                    {% for tag in all_tags %}
                    {
                        value: `{{tag.text}}`,
                        display: `{{tag.text}}`
                    },
                    {% endfor %}
                ], // used for filling select2
            },
            methods: {
                clearModal: function() {
                    this.creating = true
                    this.tag_input = ""
                    this.shooting.id = ""
                    this.shooting.name = ""
                    this.shooting.date = ""
                    this.shooting.race = ""
                    this.shooting.age = ""
                    this.shooting.gender = ""
                    this.shooting.state = ""
                    this.shooting.city = ""
                    this.shooting.video_url = ""
                    this.shooting.sources = []
                    this.shooting.description = ""
                    this.shooting.tags = []
                    $("#new_state_select").val("").trigger("change")
                    $("#new_race_select").val("").trigger("change")
                    $("#new_tags_select").val("").trigger("change")
                    $("#new_gender_select").val("").trigger("change");
                    $('#new_date').datetimepicker('clear');
                },
                submitKilling: function() {
                    if (this.shooting.video_url.length > 0 && this.shooting.video_url.search(/http[s]*:\/\/www\.youtube\.com\/watch\?v=/) < 0) {
                        $.confirm({
                            title: 'Please review your submission',
                            content: "The video URL must be a valid, unshortened Youtube URL.",
                            type: 'red',
                            typeAnimated: true,
                            backgroundDismiss: false,
                            buttons: {
                                close: function () {
                                }
                            }
                        });
                        return;
                    }
                    else if (this.shooting.video_url.length > 0 && this.shooting.video_url.search(/http[s]*:\/\/www\.youtube\.com\/watch\?v=/) > -1) {
                        if (this.shooting.video_url.indexOf("&") > -1) {
                            this.shooting.video_url = this.shooting.video_url.substring(0, this.shooting.video_url.indexOf("&"));
                        }
                    }

                    if (this.shooting.date == "") {
                        $.confirm({
                            title: 'Please review your submission',
                            content: "Date cannot be blank.",
                            type: 'red',
                            typeAnimated: true,
                            backgroundDismiss: false,
                            buttons: {
                                close: function () {
                                }
                            }
                        });
                        return;
                    }
                    if (this.shooting.state == "") {
                        $.confirm({
                            title: 'Please review your submission',
                            content: "State cannot be blank.",
                            type: 'red',
                            typeAnimated: true,
                            backgroundDismiss: false,
                            buttons: {
                                close: function () {
                                }
                            }
                        });
                        return;
                    }
                    if (this.shooting.race == "") {
                        $.confirm({
                            title: 'Please review your submission',
                            content: "Race cannot be blank.",
                            type: 'red',
                            typeAnimated: true,
                            backgroundDismiss: false,
                            buttons: {
                                close: function () {
                                }
                            }
                        });
                        return;
                    }
                    if (this.shooting.gender == "") {
                        $.confirm({
                            title: 'Please review your submission',
                            content: "Gender cannot be blank.",
                            type: 'red',
                            typeAnimated: true,
                            backgroundDismiss: false,
                            buttons: {
                                close: function () {
                                }
                            }
                        });
                        return;
                    }
                    data = {
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        shooting: JSON.stringify(this.shooting)
                    }
                    date = this.shooting.date.format("YYYY-MM-DD")
                    data.shooting.date = date;
                    if (this.creating) {
                        $.ajax({
                            type: "POST",
                            url: "{% url 'roster:submit-killing' %}",
                            data: data,
                            success: function() {
                                $.alert({
                                    title: 'Success!',
                                    content: 'Killing submitted. The page will now reload.',
                                    type: 'green',
                                    typeAnimated: true,
                                    autoClose: 'close|4000',
                                    buttons: {
                                        close: function () {
                                            window.location.reload()
                                        }
                                    }
                                });
                            },
                            error: function(data) {
                                console.log(data)
                                if (data.status == 400) {
                                    $.confirm({
                                        title: 'Please review your submission',
                                        content: data.responseText,
                                        type: 'red',
                                        typeAnimated: true,
                                        backgroundDismiss: false,
                                        buttons: {
                                            close: function () {
                                            }
                                        }
                                    });
                                }
                                else {
                                    $.confirm({
                                        title: 'Encountered an error!',
                                        content: 'Something went wrong when processing the request. Send Pedro a text message and save this information: ' + data.responseText,
                                        type: 'red',
                                        typeAnimated: true,
                                        backgroundDismiss: false,
                                        buttons: {
                                            close: function () {
                                            }
                                        }
                                    });
                                }
                            },
                        });
                    }
                    else {
                        $.ajax({
                            type: "POST",
                            url: "{% url 'roster:edit-killing' %}",
                            data: data,
                            success: function() {
                                $.alert({
                                    title: 'Success!',
                                    content: 'Killing edited succesfully. The page will now reload.',
                                    type: 'green',
                                    typeAnimated: true,
                                    autoClose: 'close|4000',
                                    buttons: {
                                        close: function () {
                                            window.location.reload()
                                        }
                                    }
                                });
                            },
                            error: function(data) {
                                console.log(data)
                                if (data.status == 400) {
                                    $.confirm({
                                        title: 'Please review your submission',
                                        content: data.responseText,
                                        type: 'red',
                                        typeAnimated: true,
                                        backgroundDismiss: false,
                                        buttons: {
                                            close: function () {
                                            }
                                        }
                                    });
                                }
                                else {
                                    $.confirm({
                                        title: 'Encountered an error!',
                                        content: 'Something went wrong when processing the request. Send Pedro a text message and save this information: ' + data.responseText,
                                        type: 'red',
                                        typeAnimated: true,
                                        backgroundDismiss: false,
                                        buttons: {
                                            close: function () {
                                            }
                                        }
                                    });
                                }
                            },
                        });
                    }
                },
                addTag: function() {
                    var self = this;
                    $('#new_tags_select').append($("<option></option>").attr("value", self.tag_input.trim()).attr('selected', 'selected').text(self.tag_input));
                    $("#new_tags_select").trigger("change")
                },
                spliceSource: function(index) {
                    this.shooting.sources.splice(index, 1);
                },
                removeSource: function() {
                    this.shooting.sources.pop()
                },
                addSource: function() {
                    this.shooting.sources.push("")
                },
                openKillingModal: function() {
                    var self = this;
                    $("#add_killing").modal("toggle")
                    if (!self.creating ) {
                        $("#new_date").datetimepicker("date", moment(self.shooting.date, "YYYY-MM-DD"))
                        $("#new_state_select").val(self.shooting.state).trigger("change")
                        $("#new_race_select").val(self.shooting.race).trigger("change")
                        $("#new_tags_select").val(self.shooting.tags).trigger("change")
                        $("#new_gender_select").val(self.shooting.gender).trigger("change");
                    }
                    console.log("clicked")
                }
            }
        });
        {% endif %}
        function showSuccessMessage(message) {
            /*
                Shows success message DOM element for UX.
            */
            $.confirm({
                title: 'Success!',
                closeIcon: true, 
                content: message,
                type: 'green',
                typeAnimated: true,
                autoClose:'close|3000',
                buttons: {
                    close: {
                        text: 'Close',
                        btnClass: 'btn-green',
                        action: function () {
                            // window.location.reload()
                        },
                    }
                }
            });
        };
        function processJS(data) {
            data = data.substring(1, data.length - 1);
            var split = data.split("\'").join("\"").split("\"\"").join("\"");
            split = '[' + split + ']';
            split = JSON.parse(split)
            return split;
        }
        function showErrorMessage(message) {
            $.confirm({
                title: 'Error',
                closeIcon: true, 
                content: message,
                type: 'red',
                typeAnimated: true,
                backgroundDismiss: true,
                autoClose: 'close|3000',
                buttons: {
                    close: {
                        text: 'Close',
                        btnClass: 'btn-red',
                        action: function(){
                            window.location.reload()
                        }
                    }
                }
            });
        };
    </script>
</body>
</html>