<!DOCTYPE html>
<html Lang="en">
{% load static %}

<head>
    <title>PKBP Database</title>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="S97wnMfRrGrCTgw1oK0OThteMbwPbAo7iOhrmDmta_8" />
    <meta name="description" content="A database of records and bodycams tracking
        officer involved shootings each year.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2-bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/tempusdominus-bootstrap-4.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-confirm.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'datatables.min.css'  %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'css/new_favicon.ico' %}"/>

<!--     <PageMap>
     <DataObject type="document">
        <Attribute name="title">People Killed By Police Database</Attribute>
        <Attribute name="author">Donutoperator</Attribute>
        <Attribute name="description">A database of records and bodycams tracking
        officer involved shootings each year.</Attribute>
     </DataObject>
     <DataObject type="thumbnail">
        <Attribute name="src" value="https://imgur.com/a/LJDtUoJ" />
        <Attribute name="width" value="627" />
        <Attribute name="height" value="167" />
     </DataObject>
  </PageMap> -->

    <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-9311105211394965",
              enable_page_level_ads: true
         });
    </script> -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- peoplekilled -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9311105211394965"
         data-ad-slot="1788891566"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    
    <!-- dynamic follows -->
    {% block custom_scripts %}
    {% endblock custom_scripts %}
</head>
<body id="body" style="">

    <div id="nav_related">
       {% include 'partials/navbar.html' %}
    </div>
    {% if messages %}
        <div class="container">
            <ul id="messages" class="messages list-unstyled" style="margin-top:1em; z-index:2; text-align: center;">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-danger">{{ message }}</div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <div class="alert alert-success">{{ message }}</div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                <div class="alert alert-warning">{{ message }}</div>
                        {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <script type="text/javascript">
        setTimeout(function() {
            $("#messages").fadeOut("quick")
        }, 3000)
    </script>
    <!-- main content here -->
    <div id="loader_cover" class="overlay" style="background: black; position: fixed; top: 0px; right: 0; bottom: 0; left: 0; opacity: 0.7; z-index: 999;">
            <i id="loader" class="fa fa-circle-o-notch fa-spin fa-5x fa-fw overlay-text" style="margin-left: 150px; margin-top: -15px;"></i>
            <span class="overlay-text">Now Loading</span>
    </div>
    <div class="container-fluid">
        <div class="row">
            
        </div>
    </div>
    <div class="container-fluid">
        {% block content %}
        {% endblock content %}
    </div>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-confirm.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tempusdominus-bootstrap-4.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatables.min.js' %}"></script>
    <!-- javascript will go here -->
    <script type="text/javascript">
        Vue.config.productionTip = false
        // Test browser
        navigator.browserSpecs = (function(){
            var ua = navigator.userAgent, tem, 
                M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
            if(/trident/i.test(M[1])){
                tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
                return {name:'IE',version:(tem[1] || '')};
            }
            if(M[1]=== 'Chrome'){
                tem = ua.match(/\b(OPR|Edge)\/(\d+)/);
                if(tem != null) return {name:tem[1].replace('OPR', 'Opera'),version:tem[2]};
            }
            M = M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
            if((tem = ua.match(/version\/(\d+)/i))!= null)
                M.splice(1, 1, tem[1]);
            return {name:M[0], version:M[1]};
        })();
        function alertBrowser(browser_name, version) {
            content = "We've detected you're using " + browser_name + " version " + version + " which is incompatible with this website.<br><br> Please consider upgrading to the newest version of Microsoft Edge, Chrome, Firefox or Opera, as the website will not function on your current browser. <br><br> We've provided links below.<br><br> <a href='https://www.microsoft.com/en-us/windows/microsoft-edge?irgwc=1&OCID=AID681541_aff_7593_1239139&tduid=(ir__kdxqv1ge09u2oa0jv166ambmqm2xk9tn6hzo3fct00)(7593)(1239139)(DLButton)(microsoftedge)&irclickid=_kdxqv1ge09u2oa0jv166ambmqm2xk9tn6hzo3fct00'>Edge Update</a><br><a href='https://www.google.com/chrome/'>Chrome Update</a><br><a href='https://www.mozilla.org/en-US/firefox/'>Firefox Update</a><br><a href='https://www.opera.com/'>Opera Update</a>"
             $.alert({
                title: 'Browser Version Issue!',
                content: content,
                type: 'orange',
                typeAnimated: true,
                autoClose: '',
                buttons: {
                }
            });
        }
        if (navigator.browserSpecs.name == 'IE') {
            alertBrowser("Internet Explorer", navigator.browserSpecs.version)
        }
        else if (navigator.browserSpecs.name == "Firefox") {
            // Do something for Firefox.
            if (navigator.browserSpecs.version < 27) {
                alertBrowser("Firefox", navigator.browserSpecs.version)
            }
        }
        else if (navigator.browserSpecs.name == "Chrome") {
            if (navigator.browserSpecs.version < 29) {
                alertBrowser("Chrome", navigator.browserSpecs.version)
            }
        }
        else if (navigator.browserSpecs.name == "Safari") {
            if (navigator.browserSpecs.version < 9) {
                alertBrowser("Safari", navigator.browserSpecs.version)
            }
        }
        else if (navigator.browserSpecs.name == "Opera") {
            if (navigator.browserSpecs.version < 17) {
                alertBrowser("Opera", navigator.browserSpecs.version)
            }
        }

        window.onbeforeunload = function(event)
        {
            // so that the loader properly conceals the screen, we scroll to top
            $(window).scrollTop(0);
        };
    </script>
    <script type="text/javascript">
        // GLOBAL VARIABLES
        var GENDERS = [
            {% for gender in genders %}
            {
                value: `{{gender.0}}`,
                display: `{{gender.1}}`
            },
            {% endfor %}
        ];
        var ALL_TAGS = [
            {% for tag in all_tags %}
            {
                value: `{{tag.text}}`,
                display: `{{tag.text}}`
            },
            {% endfor %}
        ];
        var STATES = [
            {% for state in states %}
            {
                value: `{{state.0}}`,
                display: `{{state.1}}`
            },
            {% endfor %}
        ]
        var RACES =  [
            {% for race in races %}
            {
                value: `{{race.0}}`,
                display: `{{race.1}}`
            },
            {% endfor %}
        ]
        {% if user.is_authenticated %}
        var URLS = {
            bodycam_create: "{% url 'bodycams:bodycam-submit' %}",
            bodycam_edit: "{% url 'bodycams:bodycam-edit' %}",
            shooting_create: "{% url 'roster:submit-killing' %}",
            shooting_edit: "{% url 'roster:edit-killing' %}",
            link_shooting_bodycam: "{% url 'bodycams:link-bodycam-shooting' %}",
            ajax_shooting: "{% url 'roster:ajax-shootings' %}",
        }
        var CSRFMIDDLEWARETOKEN = "{{csrf_token}}";
        {% endif %}
    </script>
    {% block js %}
    {% endblock js %}
    {% if user.is_authenticated %}
    <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>    
    {% endif %}
    <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
</body>
</html>
